<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row text-left">
                <div class="col-lg-12">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">15+ years of game development, begin as a 3D artist and then more interested in tool development and engine technology.</h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/disney.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2011</h4>
                                    <h4 class="subheading">Disney Interaction Studio | 3D Artist/TechArtist</h4>
                                </div>
                                <!--
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                                -->
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ea.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2014</h4>
                                    <h4 class="subheading">Electric Arts | TechArtist</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tencent.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2017</h4>
                                    <h4 class="subheading">Tencent | Senior TechArtist</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/netease.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2019</h4>
                                    <h4 class="subheading">Netease | Senior TechArtist</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/igg.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2023</h4>
                                    <h4 class="subheading">IGG | TechArtist Director</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>